@CHARSET "UTF-8";

.loadingDiv {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 9;
}
.rowSelected {
    background-color: #f5f5f5;
}
.rowActive {
    color: #f5a373;
}
.Core3ListPaiXu {
    cursor:pointer;
}
.loadingDiv .loadingImg {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 40%;
}

.coreHelpTooltipS > .arrow {
    border-bottom-color: blue;!important;

}
.coreHelpTooltipS > .content {
    background-color: blue;
    min-height:20px;!important;
    padding: 7px;!important;
}

.coreHelpTooltipE  .arrow {
    border-bottom-color: red;
}
.coreHelpTooltipE > .content {
    background-color: red;
    min-height:20px;!important;
    padding: 7px;!important;

}

.coreHelpFrm {
    position:relative;
    display: block;
    width: 100%;
    min-height: 36px;
    padding: 5px 5px 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: 0;
}
.coreHelpFrm span.tishi{
    position: absolute;
    color: #999999;
}

.coreHelpFrm:focus {
    display: block;
    width: 100%;
    min-height: 36px;
    padding: 5px 5px 0px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #66afe9;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.coreErr {
    border-color: #a94442;
    outline: 0;
}

.coreErr:focus {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(249, 171, 101);
    outline: 0;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.coreHelpFrm .coreFun {
    margin-top: 4px;
    color: #000;
    margin-left: 5px;
    cursor: pointer;
}
.coreHelpFrm .coreFun:hover {
    color: red;
    cursor: pointer;
}

.coreHelpFrm .coreHelpDropDownFrm {
    width: 100%;
    border: 0px solid #fff;
    padding: 0 0px 0 0px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .175);

}

.coreHelpFrm .coreHelpDropDownFrm .coreHelpDropDownPanel {
    margin-top: -4px;
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0 0px 4px 4px;
}

.coreHelpFrm .coreDataDic {
    max-height: 20em;
    min-height: 20px;
    overflow-y: auto;
}

.coreHelpFrm .coreDataDicSelEd {
    min-height: 1em;
    margin-bottom: 3px;
}

.coreHelpFrm .coreDataDicSelEd > li {
    margin-left: 5px;
    border: 1px solid #cccccc;
    vertical-align: middle;
    background-color: #B3DCFF;
    border-radius: 4px;
}

.coreHelpFrm .coreDataDicSelEd > li > a {

}

.coreTree table{
    width:100%;
}

.coreHelpFrm .coreDataDicSelEd > li > a:hover {
    text-decoration: none;
}

.coreHelpFrm .coreDataDicSelEd > li > span {
    color: #ffffff;
    margin-left: 5px;
    cursor: pointer;
}

.coreHelpFrm .coreDataDicSelEd > li > span:hover {
    color: red;
    cursor: pointer;
}