@CHARSET 'UTF-8';

.Col27174{
	background: #bf1629;border-bottom: 1px solid #8f1322;
}

.Col16697container-core{
	background: #bf1629;border-bottom: 1px solid #8f1322;
}


.mdcss_Col16697_17198_16698_16699_Col25704_25706_25707_25708 .ytlj a.zh_click{display: none !importan;}
.mdcss_Col16697_17198_16698_16699{background-color: #bf1629;}
.mdcss_Col16697_17198_16698_16699 p{width:399px;height:108px;}
.mdcss_Col16697_17198_16698_16699 p img{width:399px !important;height:108px !important;}.mdcss_Col25704_25706_25707_25708 .ytlj a.zh_click{display: none !importan;}
.mdcss{background-color: #bf1629;}
.mdcss p{width:399px;height:108px;}
.mdcss p img{width:399px !important;height:108px !important;}

.mdcss_default_963 .menu.menuIndex{position: absolute;z-index: 999;background-color: white;width: 585px;display: none;font-size:10px;}
.mdcss_default_963 .menu a{color: #000000;font-weight: 600;font-size: 14px;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuModel{margin: 0px 10px;}
.mdcss_default_963 .menu .menuCss{margin: 8px 0px}
.mdcss_default_963 .menu .menuCss0{width: 60px;}
.mdcss_default_963 .menu .menuCss1{color: #bf1629;font-weight: 600;font-size: 14px;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCss2 a{color: #000;}
.mdcss_default_963 .menu .menuCss2 a:hover{color: #19a97b;}

.mdcss_default_963 .menu .menuCss2.shun{margin: 5px;}
.mdcss_default_963 .menu .menuCss3{margin: 0px 45px 0px 93px;}
.mdcss_default_963 .menuIndex.on{display: block;}
.mdcss_default_963 .menuIndex .pic,.pic2{display: inline-block;width: 3px;margin-right: 5px;}
.mdcss_default_963 .menu .menuCssTop{background-color: #e0dada7d;height: 50px;border-radius: 5px;margin: 5px 10px 5px 5px;padding-bottom: 5px;padding-top: 5px;float: left;width: 46%;}
.mdcss_default_963 .menu .menuCssTop2{background-color: #e0dada7d;height: 50px;border-radius: 5px;margin: 5px 10px 5px 5px;padding-bottom: 5px;padding-top: 5px;float: left;width: 48%;}
.mdcss_default_963 .menu .top,.topTitle{color: #eb3c24;}
.mdcss_default_963 .menu .top{margin-left: -10px;position: absolute;margin-top: -15px;color: #f14a0f;font-size: 10px;font-weight: 600;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .topTitle{font-size: 16px;color: #f14a0f;font-weight: 600;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop .zuoL1{margin-left: 15px;margin-top: 15px;margin-right: 5px;}
.mdcss_default_963 .menu .menuCssTop .youL1 div{line-height: 20px;width: 38px;text-align: center;font-weight: 500;font-size: 14px;border-radius: 5px;margin-right: 10px;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1jy{background-color: #efd895;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1jy a{color: #c77227;font-size: 14px;font-weight: 600;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1qy{background-color: #e8d386;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1qy a{color: #a78e41;font-size: 14px;font-weight: 600;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1pc{background-color: #bfc998;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1pc a{color: #73823f;font-size: 14px;font-weight: 600;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1sh{background-color: #e8d0a4;}
.mdcss_default_963 .menu .menuCssTop .youL1 .youL1sh a{color: #d66d2e;font-size: 14px;font-weight: 600;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop2 .zuoL2{margin-left: 15px;margin-top: 15px;margin-right: 5px;}
.mdcss_default_963 .menu .menuCssTop2 .youL2 .youL2sch{line-height: 40px;height: 40px;width: 55px;text-align: center;font-weight: 600;font-size: 14px;border-radius: 5px;margin-right: 9px;}
.mdcss_default_963 .menu .menuCssTop2 .youL2 .youL2sch a{color: #046b09;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop2 .youL2 .youL2gwf{line-height: 40px;height: 40px;width: 55px;text-align: center;font-weight: 600;font-size: 14px;border-radius: 5px;margin-right: 9px;}
.mdcss_default_963 .menu .menuCssTop2 .youL2 .youL2gwf a{color: #375b04;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop2 .youL2 .youL2bh{line-height: 40px;height: 40px;width: 65px;text-align: center;font-weight: 600;font-size: 14px;border-radius: 5px;margin-right: 9px;}
.mdcss_default_963 .menu .menuCssTop2 .youL2 .youL2bh{color: #e88300;font-family: "Microsoft YaHei",微软雅黑;}
.mdcss_default_963 .menu .menuCssTop2 .youL2sch{background-color: #addc8a;color: #2f6d17;}
.mdcss_default_963 .menu .menuCssTop2 .youL2gwf{color: #263b0d;background-color: #aead63;}
.mdcss_default_963 .menu .menuCssTop2 .youL2bh{background-color: #e8d090;color: #ee7623;}
.mdcss_default_963 .menu .menuCssbot{height: 50px;border-radius: 5px;margin: 5px 10px 5px 5px;padding-bottom: 5px;padding-top: 5px;float: left;width: 100%;}
.mdcss_default_963 .menu .menuCssbot div{margin: 0px 0px 5px 0px}
.mdcss_default_963 .menuIndex .pic3{display: inline-block;margin-left: 45%;width: 20px;cursor: pointer;}
.mdcss_default_963_Col25705_28656 .menu a:hover{color:#19a97b;}.mdcss_Col16697_17198_16698_25803 .search-box{height: 45px;line-height: 45px;cursor: pointer;margin-top: 30px;}
.mdcss_Col16697_17198_16698_25803 .search-box img{display: inline-block;}
.mdcss_Col16697_17198_16698_25803 .select-box{float: left;position: relative;}
.mdcss_Col16697_17198_16698_25803 .search-box span{padding-left: 10px;width: 82px;display: block;background: url(../images/1584096267423.jpg) no-repeat center right #fff;color: #000;border-radius: 3px 0px 0px 3px;}
.mdcss_Col16697_17198_16698_25803 .search-box input[type="text"]{float: left;width: 300px;border: 0;height: 45px;line-height: 45px;outline: 0;}
.mdcss_Col16697_17198_16698_25803 .search-box input[type="button"]{width: 85px;padding-right:25px;;background: url(../images/1584467628747.jpg) no-repeat 51px center #fff;color: #fff;border: 0;outline: 0;cursor: pointer;height: 45px;line-height: 45px;border-radius: 0px 3px 3px 0px;}
.mdcss_Col16697_17198_16698_25803 .select-box ul{display: none;top: 40px;width: 76px;text-align: center;position: absolute;}
.mdcss_Col16697_17198_16698_25803 .select-box ul li{display: block;padding: 0 5px;background-color: #fff;color:#000;}
.mdcss_Col16697_17198_16698_25803 .change{background-color: #bf1629;color: #fff}
.mdcss_Col16697_17198_16698_25803 .search-box .sbw img{display:inline-block;}
.mdcss_Col16697_17198_16698_25803 .search-box img{display: none;}
@media screen and (max-width: 768px) {
.mdcss_Col16697_17198_16698_25803 .search-box input[type="text"]{width:150px !important;}
.mdcss_Col16697_17198_16698_25803 .search-box{margin: 0px 0px 20px 20px;}
}
.mdcss_Col16697_17198_16698_25803 #result{
position: relative;
top: -3px;
left: 0px;
width: 465px;
background: #fff;
z-index: 888;
    padding: 0 0 0 80px;
}
.mdcss_Col16697_17198_16698_25803 #result p{
line-height:32px;
font-size:14px;
padding-left:20px;
}
.mdcss_Col16697_17198_16698_25803 .rsc{display:none;}.mdcss .search-box{height: 45px;line-height: 45px;cursor: pointer;margin-top: 30px;}
.mdcss .search-box img{display: inline-block;}
.mdcss .select-box{float: left;position: relative;}
.mdcss .search-box span{padding-left: 10px;width: 82px;display: block;background: url(../images/1584096267423.jpg) no-repeat center right #fff;color: #000;border-radius: 3px 0px 0px 3px;}
.mdcss .search-box input[type="text"]{float: left;width: 300px;border: 0;height: 45px;line-height: 45px;outline: 0;}
.mdcss .search-box input[type="button"]{width: 85px;padding-right:25px;;background: url(../images/1584467628747.jpg) no-repeat 51px center #fff;color: #fff;border: 0;outline: 0;cursor: pointer;height: 45px;line-height: 45px;border-radius: 0px 3px 3px 0px;}
.mdcss .select-box ul{display: none;top: 40px;width: 76px;text-align: center;position: absolute;}
.mdcss .select-box ul li{display: block;padding: 0 5px;background-color: #fff;color:#000;}
.mdcss .change{background-color: #bf1629;color: #fff}
.mdcss .search-box .sbw img{display:inline-block;}
.mdcss .search-box img{display: none;}
@media screen and (max-width: 768px) {
.mdcss .search-box input[type="text"]{width:150px !important;}
.mdcss .search-box{margin: 0px 0px 20px 20px;}
}
.mdcss #result{
position: relative;
top: -3px;
left: 0px;
width: 465px;
background: #fff;
z-index: 888;
    padding: 0 0 0 80px;
}
.mdcss #result p{
line-height:32px;
font-size:14px;
padding-left:20px;
}
.mdcss .rsc{display:none;}

.mdcss_default_959 .ziti{display:inline-block;position: relative;}
.mdcss_default_959 #st{display: inline-table;width:40px;margin-right: 25px;}
.mdcss_default_959 .ziti ul{display: none;position: absolute;left: -1px;top: 20px;width: 59px;text-align: left;}
.mdcss_default_959 .ziti ul li{display: block;padding: 0 5px;}
.mdcss_default_959 .ziti img{display: inline-block !important;margin-left:5px;}.mdcss_Col16697_17198_16698_25804 .sdzc{padding: 20px 0px;text-align: center;}
.mdcss_Col16697_17198_16698_25804 .dlzx{padding: 25px 0px;text-align: left; color: #fff;}
.mdcss_Col16697_17198_16698_25804 .dlzx a{color: #fff;}
.mdcss_Col16697_17198_16698_25804 .dlzx  select{background: transparent;color: #fff;border: none;}
.mdcss_Col16697_17198_16698_25804 .dlzx  select option{background: #bf1629;}.mdcss .sdzc{padding: 20px 0px;text-align: center;}
.mdcss .dlzx{padding: 25px 0px;text-align: left; color: #fff;}
.mdcss .dlzx a{color: #fff;}
.mdcss .dlzx  select{background: transparent;color: #fff;border: none;}
.mdcss .dlzx  select option{background: #bf1629;}







.Col16700container-core{
	background: #bf1629;
}

.mdcss_default_662 *{margin:0;padding:0;}
.mdcss_default_662 .banner{position:relative;}
.mdcss_default_662 .banner img{position:relative;top:0;left:0;width:100%;display: none;}
.mdcss_default_662 .banner img:first-child{display: inline-block;}
.mdcss_Col16700_16701_16702 .fade{opacity: 1 !important;}
.mdcss_Col16700_16701_16702 .banner img{width: 100% !important;}.mdcss .fade{opacity: 1 !important;}
.mdcss .banner img{width: 100% !important;}





.Col16703container-core{background: #bf1629; min-height: 0px; max-height: 54px;}

/*-------------------------栏目头样式-------------------------*/
/*栏目头边框粗细、颜色、实线，边框圆角弧度*/
.Col16703_16786_16704row-core > .coreHead{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目中间头高度、图标位置，标题字体、大小、颜色*/
.Col16703_16786_16704row-core > .coreHead > .coreCenter{
	/* 标题高度 */
	height:0px;
	/* 标题背景图片 */
	background: url() repeat-x;/*repeat-x,repeat-y,no-repeat 0px 0px*/
	font-family:"Hiragino Sans GB","Microsoft YaHei","黑体","宋体";
	font-size: 1em;
	color: #000;
	text-align: left;
	overflow: hidden;
}
/*栏目头标题显示位置设置*/
.Col16703_16786_16704row-core > .coreHead > .coreCenter > .coreTitle {
	/* 标题上边距 */
	padding-top: 0px;
	/* 标题左边距 */
	padding-left: 0px;
	background: url() no-repeat;
}
.Col16703_16786_16704row-core > .coreHead > .coreCenter > .coreTitle img{
}
/*栏目头左侧图片宽度、高度、图片、位置、*/
.Col16703_16786_16704row-core > .coreHead > .coreLeft{
	width: 0px;
	height: 0px;
	background: url() no-repeat;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目头右侧图片宽度、高度、图片、位置、*/
.Col16703_16786_16704row-core > .coreHead > .coreRight{
	width: 0px;
	height: 0px;
	background: url() no-repeat;
	top: 0px;
	right: 0px;
	position: absolute;
	
}
/*-------------------------栏目体样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col16703_16786_16704row-core > .coreBody{
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
}
/*栏目体高度、图片、边距*/
.Col16703_16786_16704row-core > .coreBody > .coreCenter{
	/* 内容高度 */
	min-height: 0px;
	/* 内容背景图片 */
	background: url() repeat-x;
	padding:8px 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
/*栏目体左侧图片宽度、高度、图片、位置、*/
.Col16703_16786_16704row-core > .coreBody > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目体右侧图片宽度、高度、图片、位置、*/
.Col16703_16786_16704row-core > .coreBody > .coreRight{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	right: 0px;
	position: absolute;
}
/*栏目体内容边距设置*/
.Col16703_16786_16704row-core > .coreBody > .coreCenter > .coreContentContainer {
	width: 100%;
	padding: 0em 0em 0em 0em;
}
.Col16703_16786_16704row-core >.coreBody>.coreCenter>.coreContentContainer>.coreContent {
	width: 100%;
	text-align: left;
	margin:0 auto 0 auto;
	min-height: 0em;
}
/*-------------------------栏目脚样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col16703_16786_16704row-core > .coreFoot{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目脚中间高度，图片*/
.Col16703_16786_16704row-core > .coreFoot > .coreCenter{
	/* 栏目脚高度 */
	height:0em;
	/* 栏目脚背景图片 */
	background: url() repeat-x;
}
/*栏目脚左侧图片宽度、高度、图片、位置、*/
.Col16703_16786_16704row-core > .coreFoot > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() no-repeat;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目脚右侧图片宽度、高度、图片、位置、*/
.Col16703_16786_16704row-core > .coreFoot > .coreRight{
	width: 0em;
	height: 0em;
	background: url() no-repeat;
	top: 0px; 
	right: 0px;
	position: absolute;
}
/*-------------------------更多样式-------------------------*/
.Col16703_16786_16704row-core > a{
	/* 更多上边距 */
	top:1px;
	/* 更多右边距 */
	right: 1.5px;
	/* 更多图片 */
	background: url() no-repeat;
	/* 更多字体颜色 */
	color:#;
	font-size: ;
	position: absolute;
	z-index:3;
}
.Col16703_16786_16704row-core > a:hover{
	background:#;
	/* 鼠标在上更多字体颜色 */
	color: ;
	font-size: ;
}
/*-------------------------栏目整体样式-------------------------*/
.Col16703_16786_16704row-core{
	/* 栏目左右距离 */
	padding: 0px 0px 0px 0px;
	/* 栏目上下距离 */
	margin: 0 auto;
	background: url() no-repeat  #;
	position: relative;
}
@media (max-width: 768px){
.Col25686_25687container-core{
    width:100% !important;
}
}.mdcss_Col16703_16786_16704_19885 .one{
float: left;
padding: 10px 41px 10px 41px;;
}
.mdcss_Col16703_16786_16704_19885 .one a{
text-decoration: none;
font-size: 24px;
font-family: "微软雅黑";
font-weight: 500;
color: #fff;;
}
.mdcss_Col16703_16786_16704_19885 .two{
background: #bf1629;
}
.mdcss_Col16703_16786_16704_19885 .three a{font-size: 16px;font-family: "微软雅黑";color:#726f69;padding:5px 10px;}
.mdcss_Col16703_16786_16704_19885 .four{
background:#fff6e2;
text-align: center;
}
.mdcss_Col16703_16786_16704_19885 .four .three{
padding: 5px 25px;
background: #fff;
}


.mdcss_Col16703_16786_16704_19885 .tabox{width:100%;margin: 0px auto 0px auto;border-top:0px solid #;background-color: #ffffff;border-bottom: 2px #fb031f solid;}
.mdcss_Col16703_16786_16704_19885 .tabox .hd{overflow:hidden; margin:0px 0px 0px 0px;}
.mdcss_Col16703_16786_16704_19885.tabox .hd a{text-decoration:none;color:#333;}
.mdcss_Col16703_16786_16704_19885.tabox .hd a{text-decoration:none;color:#333;}
.mdcss_Col16703_16786_16704_19885 .tabox .hd ul li.on{color:#bf1629;border-bottom-style: solid;border-bottom-color: #bf1629;border-bottom-width: 1px;padding-top: 0px;padding-bottom: 20px;}
/*.tabox .hd li:hover{color:#bf1629;border-bottom-style: solid;border-bottom-color: #bf1629;border-bottom-width: 3px;padding-top: 0px;padding-bottom: 0px;}*/
.mdcss_Col16703_16786_16704_19885 .tabox .hd li{position:relative;margin-left:25px;height:50px;line-height:37px;float:left;border:0px solid #ddd;border-top:0px;font-size:25px;font-family: "Microsoft YaHei";_font-weight:bold;cursor:default;margin:20px 0px 0px 18px;padding:0px 0px 20px 0px;}
.mdcss_Col16703_16786_16704_19885 .tabox .bd{width:100%;height:100%;}
.mdcss_Col16703_16786_16704_19885 .tabox .ww li{top:35px;right: 20px;background: url() no-repeat;color:#bf1629;font-size:5px ;font-family: "Microsoft YaHei";font-size:10px;position: absolute;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh{width:100%;overflow:hidden; margin:0px 0px 10px 0px;padding-top:0px;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li a{text-decoration:none;color:#333;}
.mdcss_Col16703_16786_16704_19885 .tabox .hd ul li a:hover{color:#bf1629;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li a:click{color:#e297a0;border-bottom-style: solid;border-bottom-color: #bf1629;border-bottom-width: 0px;padding-top: 0px;padding-bottom: 0px;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li{margin:0px 1.5% 1px 1.5%;float:left;overflow:hidden;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li .p-img{width:100%;text-align: center;padding:23px 1% 4px 1%;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li .p-name{height:20px;line-height:18px;word-break:break-all;word-wrap:break-word;overflow:hidden;text-align: center; font-size:16px;font-family: "Microsoft YaHei";}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li .p-price{color:#999;}
.mdcss_Col16703_16786_16704_19885 .tabox .lh li .p-price strong{color:#c00;font-size:14px;font-family: "Microsoft YaHei";}
.mdcss_Col16703_16786_16704_19885 .tabox .bmfw li .a-img{padding:0px 11px 0px 11px;}
.mdcss_Col16703_16786_16704_19885 .tabox .bmfw li{margin:23px 0px 2px 0px;float:left;}
.mdcss_Col16703_16786_16704_19885 .tabox .bmfw{width:100%;overflow:hidden;padding:0px 11px}
.mdcss_Col16703_16786_16704_19885 .tabox .bd a img{display:inline;     height: 35px;}
.mdcss_Col16703_16786_16704_19885 .tabox .bmfw li .b-img{padding:0px 11px 4px 11px;}
.mdcss .one{
float: left;
padding: 10px 41px 10px 41px;;
}
.mdcss .one a{
text-decoration: none;
font-size: 24px;
font-family: "微软雅黑";
font-weight: 500;
color: #fff;;
}
.mdcss .two{
background: #bf1629;
}
.mdcss .three a{font-size: 16px;font-family: "微软雅黑";color:#726f69;padding:5px 10px;}
.mdcss .four{
background:#fff6e2;
text-align: center;
}
.mdcss .four .three{
padding: 5px 25px;
background: #fff;
}


.mdcss .tabox{width:100%;margin: 0px auto 0px auto;border-top:0px solid #;background-color: #ffffff;border-bottom: 2px #fb031f solid;}
.mdcss .tabox .hd{overflow:hidden; margin:0px 0px 0px 0px;}
.mdcss.tabox .hd a{text-decoration:none;color:#333;}
.mdcss.tabox .hd a{text-decoration:none;color:#333;}
.mdcss .tabox .hd ul li.on{color:#bf1629;border-bottom-style: solid;border-bottom-color: #bf1629;border-bottom-width: 1px;padding-top: 0px;padding-bottom: 20px;}
/*.tabox .hd li:hover{color:#bf1629;border-bottom-style: solid;border-bottom-color: #bf1629;border-bottom-width: 3px;padding-top: 0px;padding-bottom: 0px;}*/
.mdcss .tabox .hd li{position:relative;margin-left:25px;height:50px;line-height:37px;float:left;border:0px solid #ddd;border-top:0px;font-size:25px;font-family: "Microsoft YaHei";_font-weight:bold;cursor:default;margin:20px 0px 0px 18px;padding:0px 0px 20px 0px;}
.mdcss .tabox .bd{width:100%;height:100%;}
.mdcss .tabox .ww li{top:35px;right: 20px;background: url() no-repeat;color:#bf1629;font-size:5px ;font-family: "Microsoft YaHei";font-size:10px;position: absolute;}
.mdcss .tabox .lh{width:100%;overflow:hidden; margin:0px 0px 10px 0px;padding-top:0px;}
.mdcss .tabox .lh li a{text-decoration:none;color:#333;}
.mdcss .tabox .hd ul li a:hover{color:#bf1629;}
.mdcss .tabox .lh li a:click{color:#e297a0;border-bottom-style: solid;border-bottom-color: #bf1629;border-bottom-width: 0px;padding-top: 0px;padding-bottom: 0px;}
.mdcss .tabox .lh li{margin:0px 1.5% 1px 1.5%;float:left;overflow:hidden;}
.mdcss .tabox .lh li .p-img{width:100%;text-align: center;padding:23px 1% 4px 1%;}
.mdcss .tabox .lh li .p-name{height:20px;line-height:18px;word-break:break-all;word-wrap:break-word;overflow:hidden;text-align: center; font-size:16px;font-family: "Microsoft YaHei";}
.mdcss .tabox .lh li .p-price{color:#999;}
.mdcss .tabox .lh li .p-price strong{color:#c00;font-size:14px;font-family: "Microsoft YaHei";}
.mdcss .tabox .bmfw li .a-img{padding:0px 11px 0px 11px;}
.mdcss .tabox .bmfw li{margin:23px 0px 2px 0px;float:left;}
.mdcss .tabox .bmfw{width:100%;overflow:hidden;padding:0px 11px}
.mdcss .tabox .bd a img{display:inline;     height: 35px;}
.mdcss .tabox .bmfw li .b-img{padding:0px 11px 4px 11px;}





.mdcss_Col16703_16786_19881_19882 .qwjs{position:absolute;top:-65px;right:83px;}
.mdcss_Col16703_16786_19881_19882 .qwjs a{display: block;line-height: 25px;width: 70px;background: #eee;border: 1px solid #868686;text-align: center;color: #000;text-decoration: none;}
.mdcss_Col16703_16786_19881_19882 .znwd {
    position: absolute;
    top: -65px;
    right: 0px;
    height: 26px;
    line-height: 26px;
background-color: #fff;
padding-right: 3px;
}
.mdcss_Col16703_16786_19881_19882 .znwd a{font-size:14px;}
.mdcss_Col16703_16786_19881_19882 .znwd img{display:inline-block;}
@media screen and (max-width: 768px) {
.mdcss_Col16703_16786_19881_19882 .qwjs {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 16px;
}
}
@media screen and (max-width: 998px) {
.mdcss_Col16703_16786_19881_19882 .qwjs  {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 16px;
}
}.mdcss .qwjs{position:absolute;top:-65px;right:83px;}
.mdcss .qwjs a{display: block;line-height: 25px;width: 70px;background: #eee;border: 1px solid #868686;text-align: center;color: #000;text-decoration: none;}
.mdcss .znwd {
    position: absolute;
    top: -65px;
    right: 0px;
    height: 26px;
    line-height: 26px;
background-color: #fff;
padding-right: 3px;
}
.mdcss .znwd a{font-size:14px;}
.mdcss .znwd img{display:inline-block;}
@media screen and (max-width: 768px) {
.mdcss .qwjs {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 16px;
}
}
@media screen and (max-width: 998px) {
.mdcss .qwjs  {
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: 16px;
}
}




.mdcss_Col16703_16786_19883_19884 .searchForm {
    top: -66px;
    right: 156px;
position: absolute;
z-index: 10;
background-color: #fff;
    width: 170px;
    padding: 0px 0px 2px;
}
.mdcss_Col16703_16786_19883_19884 .searchForm input#title{width:92px;position: relative;border: 1px solid #fff;}
.mdcss_Col16703_16786_19883_19884 .inputsub{
    font-size: 12px;
    border-radius: 10px 0px 0px 10px;
    background-color: #D52527;
    border: 1px solid #D52527;
    line-height: 18px;
    position: absolute;
    color:#fff;
    left: 92px;
    top: 2px;
}
.mdcss_Col16703_16786_19883_19884 .benshi{
    font-size: 12px;
    border-radius: 0px 10px 10px 0px;
    background-color: #D52527;
    border: 1px solid #D52527;
    line-height: 18px;
    position: absolute;
    color:#fff;
    left: 131px;
    top: 2px;
}
.mdcss_Col16703_16786_19883_19884 .searchForm a{display:inline-block;}
@media (max-width: 768px) {
.mdcss_Col16703_16786_19883_19884 .searchForm {
    position: relative;
    top: 0;
   left: 10px;
    margin-right: 16px;
}
.mdcss_Col16703_16786_19883_19884 input{
     border: 0;
    border: 1px solid #868686;
}
}
@media (min-width: 768px) and (max-width: 998px)  {
.mdcss_Col16703_16786_19883_19884 .searchForm {
    position: relative;
    top: 0;
    right: 0;
    margin-right: 16px;
}
}.mdcss .searchForm {
    top: -66px;
    right: 156px;
position: absolute;
z-index: 10;
background-color: #fff;
    width: 170px;
    padding: 0px 0px 2px;
}
.mdcss .searchForm input#title{width:92px;position: relative;border: 1px solid #fff;}
.mdcss .inputsub{
    font-size: 12px;
    border-radius: 10px 0px 0px 10px;
    background-color: #D52527;
    border: 1px solid #D52527;
    line-height: 18px;
    position: absolute;
    color:#fff;
    left: 92px;
    top: 2px;
}
.mdcss .benshi{
    font-size: 12px;
    border-radius: 0px 10px 10px 0px;
    background-color: #D52527;
    border: 1px solid #D52527;
    line-height: 18px;
    position: absolute;
    color:#fff;
    left: 131px;
    top: 2px;
}
.mdcss .searchForm a{display:inline-block;}
@media (max-width: 768px) {
.mdcss .searchForm {
    position: relative;
    top: 0;
   left: 10px;
    margin-right: 16px;
}
.mdcss input{
     border: 0;
    border: 1px solid #868686;
}
}
@media (min-width: 768px) and (max-width: 998px)  {
.mdcss .searchForm {
    position: relative;
    top: 0;
    right: 0;
    margin-right: 16px;
}
}










.mdcss_default_614 ul{height:50px; line-height:50px;}
.mdcss_default_614 ul li{float:left;}
.mdcss_default_614 ul .l_mo{ border:1px #19a97b solid; border-radius:3px; height:30px; line-height:30px; padding:0px 10px; margin-top:10px;}
.mdcss_default_614 ul .a_mo{ color:#19a97b}
.mdcss_default_614 .l_fu{ padding:0px 10px}.mdcss_Col22116_22117_22129_22163 .dqwz{
font-size: 16px;
font-family:"Microsoft YaHei";
}.mdcss .dqwz{
font-size: 16px;
font-family:"Microsoft YaHei";
}




/*-------------------------栏目头样式-------------------------*/
/*栏目头边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22583 > .coreHead{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目中间头高度、图标位置，标题字体、大小、颜色*/
.Col22116_22117_22570_22583 > .coreHead > .coreCenter{
	/* 标题高度 */
	height:42px;
	/* 标题背景图片 */
	background: url(../images/1499073535136.jpg) repeat-x;/*repeat-x,repeat-y,no-repeat 0px 0px*/
	font-family:"Hiragino Sans GB","Microsoft YaHei","黑体","宋体";
	font-size: 16px;
	color: #fff;
	text-align: left;
	overflow: hidden;
}
/*栏目头标题显示位置设置*/
.Col22116_22117_22570_22583 > .coreHead > .coreCenter > .coreTitle {
	/* 标题上边距 */
	padding-top: 10px;
	/* 标题左边距 */
	padding-left: 20px;
	background: url() no-repeat;
}
/*栏目头右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22583 > .coreHead > .coreRight{
	width: 0px;
	height: 0px;
	background: url() no-repeat;
	top: 0px;
	right: 0px;
	position: absolute;
	
}
/*-------------------------栏目体样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22583 > .coreBody{
	border-top: 0px #000 solid;
	border-left: 1px #F0F0F0 solid;
	border-bottom: 1px #F0F0F0 solid;
	border-right: 1px #F0F0F0 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
}
/*栏目体高度、图片、边距*/
.Col22116_22117_22570_22583 > .coreBody > .coreCenter{
	/* 内容高度 */
	min-height:160px;
	/* 内容背景图片 */
	background: url() repeat-x;
	padding:0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
/*栏目体左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22583 > .coreBody > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目体右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22583 > .coreBody > .coreRight{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	right: 0px;
	position: absolute;
}
/*栏目体内容边距设置*/
.Col22116_22117_22570_22583 > .coreBody > .coreCenter > .coreContentContainer {
	width: 100%;
	padding: 0em 0em 0em 0em;
}
.Col22116_22117_22570_22583 >.coreBody>.coreCenter>.coreContentContainer>.coreContent {
	width: 100%;
	text-align: left;
	margin:0 auto 0 auto;
	min-height: 0em;
}
/*-------------------------更多样式-------------------------*/
.Col22116_22117_22570_22583 > a{
	/* 更多上边距 */
	top:1px;
	/* 更多右边距 */
	right: 1.5px;
	/* 更多图片 */
	background: url() no-repeat;
	/* 更多字体颜色 */
	color:#;
	font-size: ;
	position: absolute;
	z-index:3;
}
.Col22116_22117_22570_22583 > a:hover{
	background:#;
	/* 鼠标在上更多字体颜色 */
	color: ;
	font-size: ;
}
/*-------------------------栏目整体样式-------------------------*/
.Col22116_22117_22570_22583{
	/* 栏目左右距离 */
	padding: 0px 30px 0px 0px;
	/* 栏目上下距离 */
	margin: 20px 0px 0px 0px;
	background: url() no-repeat  #;
	position: relative;
}.mdcss_default_264 {
background: #feffff  repeat;
margin-bottom: 0px !important;
border-radius: 3px !important;
min-height: 2em !important;
}
.mdcss_default_264  ul{
width:100%;
}
.mdcss_default_264  li{
width: 100%;

}
.mdcss_default_264  li a{
color:#2c2d2e !important;
}
.mdcss_default_264  li a:hover{
color:#6fc5fa !important;
}
.mdcss_default_264  .act{
}
.mdcss_default_264  .act a{
color:#17a270 !important;
}.mdcss_Col22116_22117_22570_22583 .navbar{background-color:#fff;border:0px;}
.mdcss_Col22116_22117_22570_22583 li{border-bottom:1px #F0F0F0 solid; background:url(../images/1499826516535.png) no-repeat center right;}.mdcss .navbar{background-color:#fff;border:0px;}
.mdcss li{border-bottom:1px #F0F0F0 solid; background:url(../images/1499826516535.png) no-repeat center right;}


.Col22116_22117_22570_22581row-core > .coreBody{
	border-top: 1px #E03307 solid;
	border-left: 1px #FC4501 solid;
	border-bottom: 1px #FC4501 solid;
	border-right: 1px #FC4501 solid;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
	position: relative;
}
.Col22116_22117_22570_22581row-core > .coreBody > .coreCenter{
	min-height: 500px;
	background: url()repeat;
	padding:0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
.Col22116_22117_22570_22581row-core{
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 0px 0px;
	background: url() no-repeat  #;
	position: relative;
}

/*-------------------------栏目头样式-------------------------*/
/*栏目头边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22581_22544_25826 > .coreHead{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom: 1px #B51311 solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目中间头高度、图标位置，标题字体、大小、颜色*/
.Col22116_22117_22570_22581_22544_25826 > .coreHead > .coreCenter{
	/* 标题高度 */
	height:35px;
	/* 标题背景图片 */
	background: url() repeat-x;/*repeat-x,repeat-y,no-repeat 0px 0px*/
	font-family:"Hiragino Sans GB","Microsoft YaHei","黑体","宋体";
	font-size: 16px;
	color: #BC3230;
	text-align: left;
	overflow: hidden;
        font-weight:bold;
}
/*栏目头标题显示位置设置*/
.Col22116_22117_22570_22581_22544_25826 > .coreHead > .coreCenter > .coreTitle {
	/* 标题上边距 */
	padding-top: 0px;
	/* 标题左边距 */
	padding-left: 5px;
	padding-bottom: 10px;
}
.Col22116_22117_22570_22581_22544_25826 > .coreHead > .coreCenter > .coreTitle img{
}
/*栏目头左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22544_25826 > .coreHead > .coreLeft{
	width: 0px;
	height: 0px;
	background: url() no-repeat;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目头右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22544_25826 > .coreHead > .coreRight{
	width: 0px;
	height: 0px;
	background: url() no-repeat;
	top: 0px;
	right: 0px;
	position: absolute;
	
}
/*-------------------------栏目体样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22581_22544_25826 > .coreBody{
	border-top: 0px #B51311 solid;
	border-left: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
}
/*栏目体高度、图片、边距*/
.Col22116_22117_22570_22581_22544_25826 > .coreBody > .coreCenter{
	/* 内容高度 */
	min-height: 0px;
	/* 内容背景图片 */
	background: url()repeat;
	padding:20px 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
/*栏目体左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22544_25826 > .coreBody > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目体右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22544_25826 > .coreBody > .coreRight{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	right: 0px;
	position: absolute;
}
/*栏目体内容边距设置*/
.Col22116_22117_22570_22581_22544_25826 > .coreBody > .coreCenter > .coreContentContainer {
	width: 100%;
	padding: 0em 0em 0em 0em;
}
.Col22116_22117_22570_22581_22544_25826 >.coreBody>.coreCenter>.coreContentContainer>.coreContent {
	width: 100%;
	text-align: left;
	margin:0 auto 0 auto;
	min-height: 0em;
}
/*-------------------------栏目脚样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22581_22544_25826 > .coreFoot{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目脚中间高度，图片*/
.Col22116_22117_22570_22581_22544_25826 > .coreFoot > .coreCenter{
	/* 栏目脚高度 */
	height:0em;
	/* 栏目脚背景图片 */
	background: url() repeat-x;
}
/*栏目脚左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22544_25826 > .coreFoot > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() no-repeat;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目脚右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22544_25826 > .coreFoot > .coreRight{
	width: 0em;
	height: 0em;
	background: url() no-repeat;
	top: 0px; 
	right: 0px;
	position: absolute;
}
/*-------------------------更多样式-------------------------*/
.Col22116_22117_22570_22581_22544_25826 > a{
	/* 更多上边距 */
	top:1px;
	/* 更多右边距 */
	right: 1.5px;
	/* 更多图片 */
	background: url() no-repeat;
	/* 更多字体颜色 */
	color:#;
	font-size: ;
	position: absolute;
	z-index:3;
}
.Col22116_22117_22570_22581_22544_25826 > a:hover{
	background:#;
	/* 鼠标在上更多字体颜色 */
	color: ;
	font-size: ;
}
/*-------------------------栏目整体样式-------------------------*/
.Col22116_22117_22570_22581_22544_25826{
	/* 栏目左右距离 */
	padding: 0px 0px 0px 0px;
	/* 栏目上下距离 */
	margin: 0px 0px 0px 0px;
	background: url() no-repeat  #;
	position: relative;
}.mdcss_default_777 .goToTop {
position: fixed;
bottom: 10%;
right: 20px;
padding:10px 10px;
background:#bf1629;
color:#fff;
font-size:16px;
font-weight:bold;
border-radius:3px;
cursor: pointer;
}
.mdcss_default_777 .goToTop img{margin: 0px auto;display:block !important;}


.mdcss_default_777 img{display:inline-block;text-align:center;margin:0 auto;}
.mdcss_default_777 .xiangqing{padding:0px 20px;}
.mdcss_default_777 table{border:1px solid #000;}
.mdcss_default_777 table th{border:1px solid #000;}
.mdcss_default_777 table tr{border:1px solid #000;}
.mdcss_default_777 table tr td{border:1px solid #000;}

.mdcss_default_777 ol, li { list-style: none; }
.mdcss_default_777 .box_bq { margin: 0 auto;background-color: #fff; }
.mdcss_default_777 .container_bq {margin: 20px auto; overflow: hidden; }
.mdcss_default_777 .doc-info_bq { margin-bottom: 20px; border: 1px solid #EBEDE2; padding: 25px 30px; overflow: hidden; }
.mdcss_default_777 .doc-info_bq li { width: 50%; float: left; font: normal 14px/28px "Microsoft YaHei", "SimSun"; color: #333; }
.mdcss_default_777 .erweima{text-align:center}

@media only screen and (max-width: 414px) {
.mdcss_default_777 .doc-info_bq li { width: 100%; }
}

.mdcss_default_777 .m-share{float: left;margin-top:-5px;}
.mdcss_default_777 .share a{float: left;width: 26px;height: 26px;border-radius: 50%;margin-left: 13px;background: #c9c9c9;cursor: pointer;display: block;}
.mdcss_default_777 .share a i{display: block;width: 26px;height: 26px;-webkit-transition: .4s all;-moz-transition: .4s all;-ms-transition: .4s all;transition: .4s all;}
.mdcss_default_777 .share a:hover i{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}
.mdcss_default_777 .share .share-qqzone i{background: url("../images/1645687927415.png") 4px center no-repeat;}
.mdcss_default_777 .share .share-qqzone:hover{background-color: #fc7354;}
.mdcss_default_777 .share .share-wechat{position: relative;}
.mdcss_default_777 .share .share-wechat i{background: url("../images/1645687927415.png") -30px center no-repeat;}
.mdcss_default_777 .share .share-wechat:hover{background-color: #1fbc7d;}
.mdcss_default_777 .share .share-weibo:hover{background-color: #e96157;}
.mdcss_default_777 .share .share-weibo i{background: url("../images/1645687927415.png") -65px center no-repeat;}
.mdcss_default_777 .share .share-qq:hover{background-color: #27a8f2;}
.mdcss_default_777 .share .share-qq i{background: url("../images/1645687927415.png") -96px center no-repeat;}
.mdcss_default_777 .share .qrcode{position: absolute;top: 36px;border: 1px solid #ccc;padding: 5px;background: #fff;width: 110px;height: 110px;left: -98%;z-index: 11;display:none}

.mdcss_default_777 .fl { float: left; }
.mdcss_default_777 .fr { float: right; padding-top:10px}
.mdcss_default_777 .xiangqing .othermessage {width: 100%;padding-top:35px;padding-bottom:10px;border-bottom:1px solid #eee}




/*-------------------------栏目头样式-------------------------*/
/*栏目头边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22581_22546_22585 > .coreHead{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目中间头高度、图标位置，标题字体、大小、颜色*/
.Col22116_22117_22570_22581_22546_22585 > .coreHead > .coreCenter{
	/* 标题高度 */
	height:42px;
	/* 标题背景图片 */
	background: url(../images/1499073535136.jpg) repeat-x;/*repeat-x,repeat-y,no-repeat 0px 0px*/
	font-family:"Hiragino Sans GB","Microsoft YaHei","黑体","宋体";
	font-size: 16px;
	color: #fff;
	text-align: left;
	overflow: hidden;
}
/*栏目头标题显示位置设置*/
.Col22116_22117_22570_22581_22546_22585 > .coreHead > .coreCenter > .coreTitle {
	/* 标题上边距 */
	padding-top: 10px;
	/* 标题左边距 */
	padding-left: 53px;
	background: url() no-repeat;
}
.Col22116_22117_22570_22581_22546_22585 > .coreHead > .coreCenter > .coreTitle img{
}
/*栏目头左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22546_22585 > .coreHead > .coreLeft{
	width: 43px;
	height: 42px;
	background: url(../images/1499073558786.jpg) no-repeat;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目头右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22546_22585 > .coreHead > .coreRight{
	width: 0px;
	height: 0px;
	background: url() no-repeat;
	top: 0px;
	right: 0px;
	position: absolute;
	
}
/*-------------------------栏目体样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22581_22546_22585 > .coreBody{
	border-top: 0px #000 solid;
	border-left: 1px #F0F0F0 solid;
	border-bottom: 1px #F0F0F0 solid;
	border-right: 1px #F0F0F0 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
}
/*栏目体高度、图片、边距*/
.Col22116_22117_22570_22581_22546_22585 > .coreBody > .coreCenter{
	/* 内容高度 */
	min-height: 0px;
	/* 内容背景图片 */
	background: url() repeat-x;
	padding:0em 0em 0em 0em;
	margin: 0em 0em 0em 0em;
}
/*栏目体左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22546_22585 > .coreBody > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目体右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22546_22585 > .coreBody > .coreRight{
	width: 0em;
	height: 0em;
	background: url() repeat-y;
	top: 0px;
	right: 0px;
	position: absolute;
}
/*栏目体内容边距设置*/
.Col22116_22117_22570_22581_22546_22585 > .coreBody > .coreCenter > .coreContentContainer {
	width: 100%;
	padding: 0em 0em 0em 0em;
}
.Col22116_22117_22570_22581_22546_22585 >.coreBody>.coreCenter>.coreContentContainer>.coreContent {
	width: 100%;
	text-align: left;
	margin:0 auto 0 auto;
	min-height: 0em;
}
/*-------------------------栏目脚样式-------------------------*/
/*栏目体边框粗细、颜色、实线，边框圆角弧度*/
.Col22116_22117_22570_22581_22546_22585 > .coreFoot{
	min-height: 0em;
	border-top: 0px #000 solid;
	border-left: 0px #000 solid;
	border-bottom: 0px #000 solid;
	border-right: 0px #000 solid;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	overflow: hidden;
}
/*栏目脚中间高度，图片*/
.Col22116_22117_22570_22581_22546_22585 > .coreFoot > .coreCenter{
	/* 栏目脚高度 */
	height:0em;
	/* 栏目脚背景图片 */
	background: url() repeat-x;
}
/*栏目脚左侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22546_22585 > .coreFoot > .coreLeft{
	width: 0em;
	height: 0em;
	background: url() no-repeat;
	top: 0px;
	left: 0px;
	position: absolute;
}
/*栏目脚右侧图片宽度、高度、图片、位置、*/
.Col22116_22117_22570_22581_22546_22585 > .coreFoot > .coreRight{
	width: 0em;
	height: 0em;
	background: url() no-repeat;
	top: 0px; 
	right: 0px;
	position: absolute;
}
/*-------------------------更多样式-------------------------*/
.Col22116_22117_22570_22581_22546_22585 > a{
	/* 更多上边距 */
	top:1px;
	/* 更多右边距 */
	right: 1.5px;
	/* 更多图片 */
	background: url() no-repeat;
	/* 更多字体颜色 */
	color:#;
	font-size: ;
	position: absolute;
	z-index:3;
}
.Col22116_22117_22570_22581_22546_22585 > a:hover{
	background:#;
	/* 鼠标在上更多字体颜色 */
	color: ;
	font-size: ;
}
/*-------------------------栏目整体样式-------------------------*/
.Col22116_22117_22570_22581_22546_22585{
	/* 栏目左右距离 */
	padding: 0px 30px 0px 0px;
	/* 栏目上下距离 */
	margin: 20px 0px 0px 0px;
	background: url() no-repeat  #;
	position: relative;
}











.Col16719container-core{
margin-top:30px;
	background: #bf1629;
}

.Col16719_16720_16721row-core{
	padding: 0px 0px 0px 0px;
	margin: 30px 0px 30px 0px;
	background: url() no-repeat  #;
	position: relative;
}
.mdcss_default_726{height: 100px;}
@media screen and (max-width: 768px) {
.Col16719_16720_16721_16722 > .coreBody > .coreCenter{padding-left:0px;}
}
@media (min-width: 768px) and (max-width: 998px) {
.Col16719_16720_16721_16722 > .coreBody > .coreCenter{padding-left:70px;}
}.mdcss_default_726 p{text-align: center;margin:0px;padding:0px 0px 20px 0px}
.mdcss_default_726 p img{display: inline-block;vertical-align: middle}.mdcss_Col16719_16720_16721_16722 .gywm{background: #ab1425;margin-right: 10px;padding: 44px 10px;font-size:12px;color: #fff; text-align:center;}
.mdcss_Col16719_16720_16721_16722 .gywm a{color: #fff;}
.mdcss_Col16719_16720_16721_16722 .bqsy{background: #ab1425;margin-right: 10px;padding: 27px 10px;font-size:12px;color: #fff;text-align:left;}
.mdcss_Col16719_16720_16721_16722 .gfwx{background: #ab1425;margin-right: 10px;padding: 10px 10px;font-size:12px;color: #fff;}
@media screen and (max-width: 768px) {
.mdcss_Col16719_16720_16721_16722 .gywm{padding: 5px 10px;f}
.mdcss_Col16719_16720_16721_16722 .bqsy {text-align: center;padding:0px 10px;}
.mdcss_Col16719_16720_16721_16722 .gfwx{padding: 5px 10px;}
}
@media (min-width: 768px) and (max-width: 998px) {
.mdcss_Col16719_16720_16721_16722 .gywm{padding: 5px 10px;f}
.mdcss_Col16719_16720_16721_16722 .bqsy {text-align: center;padding:0px 10px;}
.mdcss_Col16719_16720_16721_16722 .gfwx{padding: 5px 10px;}
}.mdcss .gywm{background: #ab1425;margin-right: 10px;padding: 44px 10px;font-size:12px;color: #fff; text-align:center;}
.mdcss .gywm a{color: #fff;}
.mdcss .bqsy{background: #ab1425;margin-right: 10px;padding: 27px 10px;font-size:12px;color: #fff;text-align:left;}
.mdcss .gfwx{background: #ab1425;margin-right: 10px;padding: 10px 10px;font-size:12px;color: #fff;}
@media screen and (max-width: 768px) {
.mdcss .gywm{padding: 5px 10px;f}
.mdcss .bqsy {text-align: center;padding:0px 10px;}
.mdcss .gfwx{padding: 5px 10px;}
}
@media (min-width: 768px) and (max-width: 998px) {
.mdcss .gywm{padding: 5px 10px;f}
.mdcss .bqsy {text-align: center;padding:0px 10px;}
.mdcss .gfwx{padding: 5px 10px;}
}

.Col16719_16720_16721_16723{
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
	background: url() no-repeat  #;
	position: relative;
}

.mdcss_default_726 p{text-align: center;margin:0px;padding:0px 0px 20px 0px}
.mdcss_default_726 p img{display: inline-block;vertical-align: middle}.mdcss_Col16719_16720_16721_20546 .gywm{background: #ab1425;margin-right: 10px;padding:32px 10px;font-size:14px;color: #fff; text-align:center;}
.mdcss_Col16719_16720_16721_20546 .gywm a{color: #fff;line-height:28px;}
.mdcss_Col16719_16720_16721_20546 .bqsy{background: #ab1425;margin-right: 10px;padding: 18px 10px;font-size:14px;color: #fff;text-align:left;}
.mdcss_Col16719_16720_16721_20546 .bqsy div{line-height:28px;}
.mdcss_Col16719_16720_16721_20546 .gfwx{background: #ab1425;margin-right: 10px;padding: 10px 10px;font-size:14px;color: #fff;}
@media screen and (max-width: 768px) {
.mdcss_Col16719_16720_16721_20546 .gywm{padding: 5px 10px;f}
.mdcss_Col16719_16720_16721_20546 .bqsy {text-align: center;padding:0px 10px;}
.mdcss_Col16719_16720_16721_20546 .gfwx{padding: 5px 10px;}
}
@media (min-width: 768px) and (max-width: 998px) {
.mdcss_Col16719_16720_16721_20546 .gywm{padding: 5px 10px;f}
.mdcss_Col16719_16720_16721_20546 .bqsy {text-align: center;padding:0px 10px;}
.mdcss_Col16719_16720_16721_20546 .gfwx{padding: 5px 10px;}
}.mdcss .gywm{background: #ab1425;margin-right: 10px;padding:32px 10px;font-size:14px;color: #fff; text-align:center;}
.mdcss .gywm a{color: #fff;line-height:28px;}
.mdcss .bqsy{background: #ab1425;margin-right: 10px;padding: 18px 10px;font-size:14px;color: #fff;text-align:left;}
.mdcss .bqsy div{line-height:28px;}
.mdcss .gfwx{background: #ab1425;margin-right: 10px;padding: 10px 10px;font-size:14px;color: #fff;}
@media screen and (max-width: 768px) {
.mdcss .gywm{padding: 5px 10px;f}
.mdcss .bqsy {text-align: center;padding:0px 10px;}
.mdcss .gfwx{padding: 5px 10px;}
}
@media (min-width: 768px) and (max-width: 998px) {
.mdcss .gywm{padding: 5px 10px;f}
.mdcss .bqsy {text-align: center;padding:0px 10px;}
.mdcss .gfwx{padding: 5px 10px;}
}







.Col25697container-core{
background: #dabc80;
font-size:14px;
font-family:"Microsoft YaHei";
padding: 15px 0px 0px 0px;
}


.mdcss_Col25697_25698_25699_25700 p span{margin-right:12px;}.mdcss p span{margin-right:12px;}








